@charset "UTF-8";


* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body{
  font-family: 'poppins', sans-serif;
  color: #fff;
  background-color: #252839;
}

#wrapper{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(100px, auto);
  margin: 0 auto;
  grid-gap: 10px;
}

#wrapper > * {
  background-color: #fff;
}


header{
  grid-column: 1/13;
  grid-row: 1/2;
  display: flex;
}


header h4{
  font-size: 25px;
  color: #252839;
  padding: 20px;
  text-transform: uppercase;
}

header h4::before{
  position: absolute;
  top: 0;
  left: 0;
  height: 5%;
  content: attr(data-text);
  color: #01fe87;
  border-right: 2px solid #01fe87;
  overflow: hidden;
  animation: animate 7s linear infinite;
}

@keyframes animate {
  0%,20%,100%{
    width: 0px;
  }

  70%,90%{
    width: 30%;
  }
}







nav{
  grid-column: 7/13;
  grid-row: 1/2;
}

nav ul{
  padding: 30px;
  margin-right: 20px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  text: white;
}
